<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>

    <div class="row">
      <div class="col-sm-8">
        <dl class="dl-horizontal">
            <% @product.reviews.order('created_at DESC').each do |review| %>
              <%= render 'review', user_id: review.user_id, description: review.description, rating: review.rating %>
            <% end %>
        </dl>
      </div>

      <% if current_user %>
        <div class="col-sm-4">
          <%= form_for([@product, @product.reviews.build]) do |f|%>
            <p>
              <%= f.label :description %>
              <%= f.text_field :description, class: 'form-control' %>
            </p>
            <p class="form-group">
              <%= f.label :rating %>
              <%= f.select :rating, ['1', '2', '3', '4', '5']%>
            </p>
              <%= f.submit 'Submit', class: 'btn btn-primary' %>
          <% end %>
        </div>
      <% end %>

    </div>

</section>
