<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4">
        <%= form_for([@product, @review]) do |f|%>
          <div class="form-group">
            Description: <%= f.text_field :description, class: 'form-control' %>
          </div>
          <div class="form-group">
            Rating: <%= f.select :rating, ['1', '2', '3', '4', '5']%>
          </div>
          <%= f.submit 'Submit', class: 'btn btn-primary' %>
        <% end %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <% @product.reviews.each do |review| %>
            <%= render 'review', user_id: review.user_id, description: review.description, rating: review.rating %>
          <% end %>
        </dl>
      </div>
    </div>


  </article>

</section>
